<div class="sidebar sticky-top">        
    <div class="sidebar-section">
        <h5><span>Newsletter</span></h5>
        {% include newsletter.html %}
    </div>
    <!-- <div class="sidebar-section">
        <h5><span>Your Ad Here</span></h5>
        <img src="{{site.baseurl}}/assets/images/ad.png">
    </div>
</div> -->

    <div class="sidebar-section">
        <h5><span>Categories</span></h5>
        <ul>
            {% assign all_categories = site.categories | sort %}
            {% for category in all_categories %}
                <li>
                    <a href="{{ site.baseurl }}/categories/#{{ category | first | slugize }}">{{ category | first }}</a>
                </li>
            {% endfor %}
        </ul>
    </div>